body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



/*COLOR PALETTE*/


$main_dark: #0b132b;
$main_light: #19D294;
$sec_dark: #1c2541;
$sec_light: #7cffc4;
$dark_light: #3a506b;
$light: #EAEBED;

/*Size vars*/
$small: 768px;
$medium: 1024px;
$laptop:1440px;
$fourk: 2560px;
$smallFont:12px;

/*IMPORTS*/

/*components styles*/
@import './App.scss';
@import './components/app-bar/app-bar.styles.scss';
@import './components/hamburger-icon/hamburger.styles.scss';
@import './components/landing-text/landing-text.styles.scss';

/*sections styles*/
@import './sections/landing/landing.scss';
@import './sections/projects/projects.styles.scss';
@import './sections/about/about.styles.scss';
@import './sections/footer/footer.styles.scss';

/*Fonts */

@font-face {
  font-family: 'Odachi';
  src: url('./Webfont/Odachi.woff') format('woff'); /* Pretty Modern Browsers */
}

/*global styles */



h2 {
  color:$sec_dark;
  font-size: 2em;
  text-align: center;
  font-family: 'Odachi';
  margin:1.5em 0 1.2em 0;
 
  span {
      padding-bottom: 0.5rem;
      border-bottom: solid 2px $main_light;
  }
}

h3 {
  text-transform: uppercase;
  color:$main_dark;
  font-size: 1.3em;
}

h4 {
  color:$sec_dark;
  font-size: 1.1em;
  font-weight: 400;
}

.container {
  width:90%;
  margin: auto;
}





/* Resize support */

@media screen and (max-width:$fourk) {
  body {
    font-size: 22px;
  }
}

@media screen and (max-width:1920px) {
  body {
    font-size: 17px;
  }
}



@media screen and (max-width:$laptop) {
  body {
    font-size: 16px;
  }

  .projects .gallery .wrapper {
    width: 28.8vw;
    height: 28.8vw; 
  }
}

@media screen and (max-width:$medium) {
  body {
    font-size: 15px;
  }

  .projects .gallery .wrapper {
    width: 40vw;
    height: 40vw; 
  }
}

@media screen and (max-width:$small) {
body {
  font-size: 13px;
}

  .nav-box {
      display: flex;
      flex-direction: column;
      position: fixed;
      text-align: center;
      top:0;
      left:0;
      height: 100%;
      width:100%;
    
      justify-content: flex-start !important;
      background: $main_dark;
      flex-direction: column;
      clip-path: circle(100px at 90% -20%);
      -webkit-clip-path: circle(100px at 90% -20%);
      transition: all 1s ease-out;
      pointer-events: none;
       .nav-item{
         padding: 2em !important;
         font-size:2em

       }


      &.open {
        pointer-events: all;
        clip-path: circle(1000px at 90% -20% );
        -webkit-clip-path: circle(1000px at 90% -20%);
      }
    }

  //PROJECTS

  .projects .gallery .wrapper {
    width: 40vw;
    height: 40vw; 
  }


  //ABOUT
    .about .about-wrapper{

      .portret {
        top:-5%;
      }
    
    
    .text-section {
      flex-direction: column;
      
 

      .skills,.about-me,.hobbies {
       
        width:80%;
      }
    }
  }

  .footer .footer-contain{
    flex-direction: column;

    .mail,.phone,.madeBy {
      width:80%;
    }
  }
}

@media screen and (max-width:664px) {
  body {
    font-size: 12px;
  }

  .projects .gallery .wrapper {
    width: 60vw;
    height: 60vw; 
  }
}

@media screen and (max-width:320px) {
  body {
    font-size: 10px;
  }

  .projects .gallery .wrapper {
    width: 80vw;
    height: 80vw; 
  }
}

