body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



/*COLOR PALETTE*/


$main_dark: #0b132b;
$main_light: #19D294;
$sec_dark: #1c2541;
$sec_light: #7cffc4;
$dark_light: #3a506b;
$light: #EAEBED;

/*Size vars*/
$small: 768px;
$smallFont:12px;

/*IMPORTS*/

/*components styles*/
@import './App.scss';
@import './components/app-bar/app-bar.styles.scss';
@import './components/hamburger-icon/hamburger.styles.scss';
@import './components/landing-text/landing-text.styles.scss';

/*sections styles*/
@import './sections/landing/landing.scss';
@import './sections/projects/projects.styles.scss';
@import './sections/about/about.styles.scss';

/*Fonts */

@font-face {
  font-family: 'Odachi';
  src: url('./Webfont/Odachi.woff') format('woff'); /* Pretty Modern Browsers */
}

/*global styles */



h2 {
  color:$sec_dark;
  font-size: 2em;
  text-align: center;
  font-family: 'Odachi';
  margin:1.5em 0 1.2em 0;
 
  span {
      padding-bottom: 0.5rem;
      border-bottom: solid 2px $main_light;
  }
}

h3 {
  text-transform: uppercase;
  color:$main_dark;
  font-size: 1.3em;
}

h4 {
  color:$sec_dark;
  font-size: 1.1em;
  font-weight: 400;
}

.container {
  width:90%;
  margin: auto;
}